@model List<BlocoNotas>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

    <div class="card">
        <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
                Bloco de NOtas Teste SKA Vitor
            </h4>

            <!-- Badge -->
            <span class="badge text-bg-secondary-subtle">
                23 Archived
            </span>

        </div>
        <div class="card-body">

            @if (Model != null && Model.Any())
            {
                <div class="checklist" tabindex="0">

                    @foreach (BlocoNotas blocoNotas in Model)
                    {
                        @if (blocoNotas.STATUS == 1)
                        {
                            <div class="form-check" tabindex="0">
                                <a asp-controller="Home" asp-action="FormularioEditarNota" asp-route-id="@blocoNotas.ID"><i data-feather="check-square"></i></a>
                                <a asp-controller="Home" asp-action="FormularioExcluirNota" asp-route-id="@blocoNotas.ID"><i data-feather="trash"></i></a>

                                <label class="form-check-label">@blocoNotas.NOTA</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check" tabindex="0">
                                <a asp-controller="Home" asp-action="FormularioEditarNota" asp-route-id="@blocoNotas.ID"><i data-feather="square"></i></a>
                                <a asp-controller="Home" asp-action="FormularioExcluirNota" asp-route-id="@blocoNotas.ID"><i data-feather="trash"></i></a>

                                <label class="form-check-label"><s>@blocoNotas.NOTA</s></label>
                            </div>
                        }
                    }

                </div>
            }
            else
            {
                <span>Não existem dados para serem exibidos.</span>
            }

        </div>
        <div class="card-footer">
            <form class="mb-4" asp-controller="Home" asp-action="FormularioNovaNota" method="POST">
                <div class="row align-items-center">
                    <div class="col">

                        <input id="nota" name="nota" class="form-control form-control-flush form-control-auto" data-autosize="" required
                               rows="1" placeholder="Adicione uma nota nota . . ." style="overflow: hidden; overflow-wrap: break-word; text-align: start; height: 25px;" />

                    </div>
                    <div class="col-auto">

                        <button class="btn btn-sm btn-primary" type="submit">
                            Adicionar
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>